<div class="col-xs-12">
  <div class="starwars-body">

    <p id="start">Last night at the corner of Hawthorne and Folsom&hellip;</p>
    <h1 class="starwars-title">DBC<sub class=".starwars-title">CRUD</sub></h1>

    <div id="starwars-titles"><div id="starwars-titlecontent">

      <p class="center">EPISODE PHASE II<br>ATTACK OF THE TWITTER CLONE</p>

      <p>There is unrest due to Faker getting out of control!</p>

      <% @tweets.reverse.each do |tweet| %>
      <div class="col-xs-12">
        <%= tweet.content %>
      </div>
      <div class="col-xs-12">
        <a href="/users/<%= tweet.user_id %>">@<%= tweet.user.handle %></a>
      </div>
      <div class="col-xs-12">
        &nbsp;
      </div>
      <% end %>

    </div></div>
  </div>
</div>

