<center><h1>New Tweet</h1></center>
<center>
  <form action='/tweets' method='post'>
    <p><textarea rows="5" cols="50" name="tweet[content]">
    </textarea></p>
    <input type='submit' value='Tweet It!'>
  </form>
</center>
