<div class="container">
  <h1>JOIN THE DARKSIDE:</h1>
  <form action="/login" method="post">
    User name: <input type="text" name="user[handle]"><br><br>
    Password: <input type="password" name="user[password]"><br><br>
    <input type="submit" value="Login">
    <a href='/register'>Register</a>
  </form>
</div>
