<div class="container">
  <h1>JOIN THE DARKSIDE:</h1>

  <form class="form-horizontal" action="/login" method="post">

    <div class="form-group">
      <label for="user_handle" class="control-label">Handle: </label>
      <input class="form-control" id="user_handle" type="text" name="user[handle]">
    </div>

    <div class="form-group">
      <label for="user_password" class="control-label">Password: </label>
      <input class="form-control" id="user_password" type="password" name="user[password]">
    </div>

    <button class="btn btn-primary" type="submit" value="Login">Login</button>

    <a class="btn btn-danger" href='/register'>Register</a>
  </form>
</div>
