<div class="container">
  <h1>Registration Page</h1>
  <form action="/users" method="post">
    Name: <input type="text" name="user[name]"><br><br>
    E-mail: <input type="email" name="user[email]"><br><br>
    User name: <input type="text" name="user[handle]"><br><br>
    Password: <input type="password" name="user[password]"><br><br>
    <input type="submit">
  </form>
</div>
